<div class="container">
    <div class="slider" data-slider="slider" data-loop="false" data-autoplay="false">
        <div class="slider__wrapper">
            <div class="slider__items">
                <div class="slider__item">
                    <img src="../../Static/slider/s1.jpg"/>
                </div>
                <div class="slider__item">
                    <img src="../../Static/slider/s2.jpg"/>
                </div>
                <div class="slider__item">
                    <img src="../../Static/slider/s3.jpg"/>
                </div>
                <div class="slider__item">
                    <img src="../../Static/slider/s4.jpg"/>
                </div>
                <div class="slider__item">
                    <img src="../../Static/slider/s5.jpg"/>
                </div>
            </div>
        </div>
        <button class="slider__btn slider__btn_prev"></button>
        <button class="slider__btn slider__btn_next"></button>
    </div>
</div>