<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="../Static/JS/index.js"></script>
    <!-- Внутренний скрипт с вызовами функций -->
    <script>
        // обработка сессии
        handleSession(logger,  checker /* Коллбек-функции */);
      
        // функция для получения пользовательского ввода   
        const inputParseFunction = function(){
            return document.getElementsByTagName('input')[0].value.toLowerCase();
        }
     </script>
    <!-- .Net 5.0 не поддерживается в Debain 11-->
    <title>LifeSpot</title>
</head>





<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <input type="text" oninput="
            // Функция объявлена через declaration     
           const inputParseFunction = function(){
               return document.getElementsByTagName('input')[0].value.toLowerCase();
           }
          
           // Вызов (функция в аргумент передаётся без круглых скобок)
           filterContent( inputParseFunction )
     
    " size=50%>
        <!-- contentFilter()-->
        <p>Почему у всех элементов оступы - не разобрался. margin, padding вроде все проверил.</p>

    </header>
    <!-- .Net 5.0 не поддерживается в Debain 11-->
    <!--SIDEBAR-->
    <!-- .Net 5.0 не поддерживается в Debain 11-->

    <div class="bordered">
        <!--Нью-Йорк-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <!--Санкт-Петербург-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <!--Лондон-->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <!--Футер страницы находится под основной частью (body)-->
<!--FOOTER-->
</body>


</html>